body {
  text-align: center;
  background-color: #011F3F;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  margin: auto;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 1rem;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 6px solid black;
  border-radius: 10%;
}

.btn-start {
  padding: .7rem 2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
